<!DOCTYPE html>
{% include "navbar.html" %}
{% load static %}
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'style.css' %}">

        <title>{{title_html}}</title>
    </head>

<body>
    {% block content %}
    <div class="container-fluid" style="background-color: #75c7f4;">
        <div class = "container-fluid">
            <div class="row">
                <div class="col-sm-7 col-md-9">
                    <div class = "container-fluid" style="background-color:#8ee7b3ab; min-width: fit-content; height: 465px;">
                        <div class="row">
                            <div class="col-sm-12">
                                <table class="tables">
                                    <tr><th class="tables"><b>No.</b></th> 
                                        <th class="tables"><b>Nama Kepanitiaan</b></th> 
                                        <th class="tables"><b>Tahun</b></th>
                                    </tr>
                                    <tr>
                                        <td class="tables">1</td>
                                        <td class="tables">Gelar Karya</td> 
                                        <td class="tables">2019</td> 
                                    </tr>
                                    <tr>
                                        <td class="tables">2</td>
                                        <td class="tables">Social Project PMB</td> 
                                        <td class="tables">2019</td> 
                                    </tr>
                                    <tr>
                                        <td class="tables">3</td>
                                        <td class="tables">BETIS</td> 
                                        <td class="tables">2020</td> 
                                    </tr>
                                    <tr>
                                        <td class="tables">4</td>
                                        <td class="tables">WISGEN</td> 
                                        <td class="tables">2020</td> 
                                    </tr>
                                    <tr>
                                        <td class="tables">5</tb>
                                        <td class="tables">SIWAK</td> 
                                        <td class="tables">2020</td> 
                                    </tr>
                                    <tr>
                                        <td class="tables">6</tb>
                                        <td class="tables">MTQ UI</td> 
                                        <td class="tables">2020</td> 
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card" style="width: 18rem; background-color: #E5E5E5;">
                    <div class="card-body">
                      <h5 class="card-title">{{title_html}}</h5>
                      <h6 class="card-subtitle mb-2 text-muted">Deskripsi</h6>
                      <p class="card-text">Halo semuanya! jadi ini adalah kepanitiaan yang pernah aku jalani. 
                          Baru dikit dimaafin aja la ya untuk formalitas tugas hehe. 
                      </p>
                    </div>
                  </div>
            </div>
        </div>
    </div>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        {% endblock  %}
    </body>
</html>