<!DOCTYPE html>
{% include "navbar.html" %}
{% load static %}
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'style.css' %}">

        <title>Peserta</title>
    </head>
<body>
	<h2>Jadwal Kegiatan</h2>

	<form method="POST">
	{% csrf_token %}
	<table>
		{{form_siswa.as_table}}
	</table>
	<button type="Submit" name="submit">Submit</button>

	<table class="table table-dark table-striped">
  <thead>
    <tr>
      <th scope="col">Nama Siswa</th>
    </tr>
    </thead>
    <tbody>
    	{% for sis in siswa_target %}
    	<tr>
            {% if sis.kegiatan == siswa %}
    		<th scope="row">{{sis.namaSiswa}}</th>
            {% endif %} 
    	</tr>
    </tbody>
    {% endfor %}
</body>
</html>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
