<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #555;">
    <a class="navbar-brand" href="#" style="background-color: #d7e241; border-radius: 100px;">efrin.frn</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'homepage:efrin' %}" style="color: #d7e241;">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'additionalpages:organisasi' %}" style="color: #d7e241;">Organisasi</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'additionalpages:kepanitiaan' %}" style="color: #d7e241;">Kepanitiaan</a>
                </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'additionalpages:matakuliah' %}" style="color: #d7e241;">Mata Kuliah</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'story6:kegiatan' %}" style="color: #d7e241;">Kegiatan</a>
            </li>
        </ul>
    </div>
</nav>